<div class="container">

  <h1>Translations</h1>

    <% @translations.each do |translation| %>
      <div class="border border-secondary m-2 p-3">
        <%= render translation %>
      </div>
    <% end %>
  </div>
</div>
